body
{
    background-color: #F9EBC8;
    color:#181D31;
}
#menu
{
    list-style-type: none;
    
    list-style-position: inside;
    width: 936px;
    height: 80px;
    padding: 0px;
    margin: auto;
    right: 0;
    left: 0;
    overflow: hidden;
    background-color:#181D31;
    
}
#menubaslıgı
{
    float:left;
    padding-left: 6%;
    padding-top: 2%;
}

#menubaslıgı a 
{
    display: block;
    padding: 12px 25.64px;
    background-color:#181D31;
    color: white;
}

#menubaslıgı a:hover
{
    background-color: #789395;
}

#container
{
    margin-left: 33%;
    border: 3px solid #789395;
    margin-top: 10px;
    padding: 10px;
    width: 600px;
    height: 850px;
    text-align: justify;
    overflow-y: scroll;
    
}

.ilkparagraf
{
    word-spacing: 5px;

    font-size: 20px;
}

#hobisirasi
{
    word-spacing: 5px;
    font-size: 20px;
}

#h1miras
{
    text-align: center;
}

#pmiras
{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 20px;
    word-spacing: 5px;
}

#hözgeçmis
{
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 1.5px;
}

#aözgeçmis
{
    text-decoration: none;

}

#liözgeçmis
{
    list-style: none;
    display: block;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    word-spacing: 5px;
}

#olözgeçmis
{
    list-style-position:inside ;
    text-align: center;
    font-size: 20px;
    word-spacing: 5px;
    line-height: 30px;
}

#hsehrim    
{
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 1.5px;

}

#psehrim
{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 20px;
    word-spacing: 5px;
}

#imgsehrim
{   
    width: 800px;
    height: 600px;
    
}

#imglisehrim
{
    text-align: center;
    list-style: none;
    position: absolute;
}

.slider-tasıma
{
    width: 800px;
    height: 600px;
    border: 5px solid #181D31;
    margin: auto;
    position: relative;
}

.slider-tasıma ul
{
    padding: 0%;
    margin: 0%;
}

.slider-tasıma ul li :nth-of-type(1)
{
    left: 0px;
}

.slider-tasıma ul li :nth-of-type(2)
{
    left: 1010px;
}

.slider-tasıma ul li :nth-of-type(3)
{
    left: 2020px;
}

.slider-tasıma ul li :nth-of-type(4)
{
    left: 3030px;   
}

#hilgialanlarım
{
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 1.5px;
}

#olilgialanlarım
{
    list-style-position:inside ;
    text-align: center;
    font-size: 20px;
    word-spacing: 5px;
    line-height: 30px;
}

#iletisim
{
    padding: 50px;
    text-align: center;
}

#h3iletisim
{
    color:#181D31 ;
}

#iletisimopaklik
{
    background: rgba(24, 29, 49, 0.3);
    padding: 30px 20px ;
    border-radius: 5px;
    margin-bottom: 50px;
    height: 550px;
}

#formgrupları
{
  width: 700px;
    float: left;
    height: 500px;
    text-align: left;
}

#solformkismi
{
    width: 47%;
    float: left;
    
}

#sagformkismi
{
    width: 47%;
    float: right;
    
}

.form-control
{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 1.5;
    color:#181D31;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #F9EBC8;

}

textarea
{
    font-family: Arial;
}

input[type="button"]
{
    cursor: pointer;
    background-color: #F9EBC8;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 30px;
    color: #181D31;
    border: 2px solid #181D31;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

#adres
{
   width: 450px;
    float: right;
    padding: 30px;
    height: 500px;
    text-align: left;
    margin-right: 400px;
}

#h4adres
{
    font-size: 30px;
    color: #F9EBC8;;
}
.padres
{
    color: whitesmoke;
    letter-spacing: 1.5px;
    font-size: 15px;
}

#copyright
{
    color:#181D31;
    font-size: 20px;
    letter-spacing: 2px;
}